exclude: |
  (?x)^(
      other/.+|
      doc/.+|
  )$
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        require_serial: true
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
            "--disable=missing-docstring",
          ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict
  # For Python files
  - repo: https://github.com/psf/black.git
    rev: 23.9.1
    hooks:
      - id: black
        files: (.*\.(py|pyi|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        args: [--line-length=79]
  - repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0" # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        files: .*\.(js|jsx|ts|tsx|json|yml|yaml|md)$
  - repo: https://github.com/PyCQA/bandit
    rev: "1.8.2"
    hooks:
      - id: bandit
        args: ["-ll", "-ii"]
  - repo: https://github.com/pycqa/flake8
    rev: "7.1.1"
    hooks:
      - id: flake8